extends layout.jade

block content
  section
    h1 status
    table
      tr
        th Twitter id
        td <a href="https://twitter.com/#{user.twitter.username}">@#{user.twitter.username}</a>
      tr
        th GitHub id
        if user.github && user.github.username
          td <a href="https://github.com/#{user.github.username}">#{user.github.username}</a>
        else
          td
            a(href="/auth/github") set your github account
      tr
        th Likes
        if user.languages
          td= user.languages.join(',')
        else
          td please wait...
      tr
        th Last Updated
        if user.last_updated
          td= user.last_updated
        else
          td please wait...

